<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/vendor.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/styles.css')}}">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
<!--WEB MANIFEST-->
    <link rel="manifest" href="{{url_for('static',filename = 'site.webmanifest')}}">
    {% block add_links %} {% endblock %}
</head>


<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap">
        <header id="masthead" class="s-header">

            <div class="s-header__branding">
                <p class="site-title">
                    <a href="{{url_for('home')}}" rel="home">the third eye.</a>
                </p>
            </div>

            <div class="row s-header__navigation">

                <nav class="s-header__nav-wrap">

                    <h3 class="s-header__nav-heading">Navigate to</h3>

                    <ul class="s-header__nav">
                        <li class="{% block markhome %}{% endblock %}"><a href="{{url_for('home')}}" title="">Home</a></li>
                        <li class="{% block markarticles %}{% endblock %}"><a href={{url_for('all_blogs')}} title="">Articles</a></li>
                        <li class="{% block markphoto %}{% endblock %}"><a href={{url_for('photo_gallery')}} title="">Fotografia</a></li>
                        <li class="{% block markpod %}{% endblock %}"><a href={{url_for('podcast')}} title="">Podcasts</a></li>


                        <li class="{% block markabout %}{% endblock %}"><a href={{url_for('about')}} title="">About</a></li>
<!--                        <li class="{% block markcontact %}{% endblock %}"><a href="{{url_for('contact')}}" title="">Contact</a></li>-->
                        {% if current_user.is_authenticated %}
                        <l1><a href="{{url_for('logout')}}" title="">Master Log out</a></li></l1>
                        {% endif %}
                    <!-- end s-header__nav -->

                </nav> <!-- end s-header__nav-wrap -->

            </div> <!-- end s-header__navigation -->

<!--            <div class="s-header__search">-->

<!--                <div class="s-header__search-inner">-->
<!--                    <div class="row">-->

<!--                        <form role="search" method="post" class="s-header__search-form" action="">-->
<!--                            <label>-->
<!--                                <span class="u-screen-reader-text">Search for:</span>-->
<!--                                <input type="search" class="s-header__search-field" placeholder="Search for..." value="" name="s" title="Search for:" autocomplete="on">-->
<!--                            </label>-->
<!--                            <input type="submit" class="s-header__search-submit" value="Search">-->
<!--                        </form>-->

<!--                        <a href="#0" title="Close Search" class="s-header__search-close">Close</a>-->

<!--                    </div> &lt;!&ndash; end row &ndash;&gt;-->
<!--                </div> &lt;!&ndash; s-header__search-inner &ndash;&gt;-->

<!--            </div> &lt;!&ndash; end s-header__search &ndash;&gt;-->

            <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
<!--            <a class="s-header__search-trigger" href="#">-->
<!--                <svg width="24" height="24" fill="none" viewBox="0 0 24 24">-->
<!--                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 19.25L15.5 15.5M4.75 11C4.75 7.54822 7.54822 4.75 11 4.75C14.4518 4.75 17.25 7.54822 17.25 11C17.25 14.4518 14.4518 17.25 11 17.25C7.54822 17.25 4.75 14.4518 4.75 11Z"></path>-->
<!--                </svg>-->
<!--            </a>-->

        </header> <!-- end s-header -->
<!--        {% block nav_cur %} cla {% endblock %}-->
        {% block content %} {% endblock %}
        {% include 'footer.html' %}